[2019-08-27 12:35] Amonith opened #1 "MM v5.12+ - search doesn't work when on PostgresSQL"
Will be fixed today.
Backend error:

[code]

[2019-08-27 16:07] Amonith commented on #1
Fixed by 0e3dbdf6f990b668edaccd1b53c7ea45c3010109

[2019-08-27 16:07] #1 closed

[2019-08-29 06:57] qykong opened #3 "Failed to enable the plugin"
Hi, thanks for developing this plugin and it looks helpful. However, I tried to install the plugin but got an error message when enabling. We are currently on Mattermost v5.14.0 and deployed with matter-docker in production.

When I tried to enable the plugin, it gives the following error message from the system log:

[code]

[2019-08-29 07:29] Amonith commented on #3
Hi,

Interesting. What is"matter-docker"? Couldn't find anything in google.
Also what kind of OS hosts MM inside that image?

In environments known to me this plugin is currently working on following configurations:
- "mattermost-preview" docker image (5.13, 5.14.0), with MySQL database
- On-premise 5.12 mattermost with PostgreSQL
- On-premise 5.14.0 with PostgreSQL

[2019-08-29 07:39] Amonith commented on #3
Hmm, during activation I read the "config.json" to get the database connection string. Maybe that fails.
Is anything non-standard in how your MM is configured?

[2019-08-29 23:07] qykong commented on #3
Hi, thanks for the reply. Sorry, my bad. it was "mattermost-docker" projected maintained by mattermost team.

I don't remember changing any configurations in "config.json", but I might be wrong. Is there anything I can do from my side to help get better error messages and nail down the issue?

[2019-08-30 07:06] Amonith commented on #3
Hi,

In "mattermost-docker" I can see that you can change the path to the config file through MM_CONFIG environment variable. Can you confirm that on your side indeed it is set to something other than default (`/mattermost/config/config.json`)?

If that's true, then I should be able to fix this today/tomorrow. If not, I think I will have to make a new release with better logging which you would ha

[2019-08-30 07:10] Amonith commented on #3
Oh, just got an idea how you can help me further:
Can you anonymize (if there is anything confidential there) and share your `docker-compose.yaml`? That would allow me to replicate your environment 1:1.

[2019-08-30 07:31] qykong commented on #3
Hi, I can confirm the `docker-compose.yaml` I'm using is the same as [this](https://github.com/mattermost/mattermost-docker/blob/master/docker-compose.yml). For the config.json, you are right, I did change the setting a bit (the timezone setting and the `ServiceSettings.ListenAddress `).

Btw, I changed logging setting to DEBUG and got some new log messages. Are these more helpful?
[code]

[2019-08-31 12:48] js-everts commented on #3
Hi, I have the exact same environment and was facing the same issue. I managed to fix it by compiling `mattermost-file-list` on alpine linux. @qykong your last comment was extremely helpful.

[2019-08-31 12:59] qykong commented on #3
That's awesome. Thanks for fixing that. Does that mean I could just download the latest compiled version and it will work?

[2019-08-31 13:11] js-everts commented on #3
No. you will have to compile it yourself. Or wait for @Amonith to release a version compiled on alpine (Although I'm not sure if this is something that makes much sense to do).

BTW I used the `golang:alpine` image to compile the plugin.

[2019-08-31 13:14] qykong commented on #3
Oops, sry, I thought the reply was from Amonith. Thanks, I'll do that!

[2019-08-31 21:49] Amonith commented on #3
Thanks @js-everts for help with this! I will release a recompiled version on monday along with a new sorting feature.

[2019-09-02 16:37] Amonith commented on #3
Status update:

This issue sparked a discussion in official Mattermost community server:
https://community.mattermost.com/core/pl/s8dh3p5xibyeicfge17a7ca1eo

and it seems that they were not aware that their docker images are not compatible with most plugins out of the box. They are considering modyfying the docker images in mattermost-docker, because this issue can also supposedly be solved by add

[2019-09-03 13:08] js-everts commented on #3
I strongly agree that this issue is best tackled in the official mattermost docker images and not in individual plugins. Otherwise we burden plugin authors to compile and distribute multiple versions of the same plugin.

[2019-09-11 10:27] JtheBAB opened #4 "Plugin breaks email notification "Go To Post""
Hi

When the plugin is active our users are getting just a grey screen when they click in the email notification to the button "Go To Post".

Chrome tells me:

[code]

As soon as i deactivate the plugin the page is loading.

Best regards

[2019-09-11 17:35] kelderek commented on #4
Same issue for me.  Mattermost 5.14.2, mysql db, using firefox 69.0 on Win 10 1903.  Firefox says:

[code]

[2019-09-11 19:09] Amonith commented on #4
Hi,

Thanks for reporting the issue. I'm on holiday until 23rd of September so I'll investigate it on my return.
The details you both have supplied are enough to solve this, thank you.
It seems that something is accessing the channel name in redux state before it is available in that scenario.

[2019-09-17 05:57] Nugation opened #5 "Unable to activate plugin"
Hey,
I am using GitLab and integrated Mattermost. The activation of the plugin fails, because it can not locate the config.json file.
I tried to put the file on following locations:
`/var/opt/mattermost/config.json`,`/opt/mattermost/config.json`, `/etc/mattermost/config.json` and `/mattermost/config.json`
But none of them works.

Here is the error:
[code]

I am pointless right now, maybe you can h

[2019-09-20 09:41] Mracobes9 opened #6 "Error plugin activations"
Hi. I tried to activate plugin from web console. It is logs:
`{"level":"error","ts":1568972186.934706,"caller":"mlog/log.go:173","msg":"Unable to activate plugin","plugin_id":"mattermost-file-list","error":"unable to start plugin: mattermost-file-list: Unrecognized remote plugin message: \n\nThis usually means that the plugin is either invalid or simply\nneeds to be recompiled to support the lates

[2019-09-22 16:56] Amonith commented on #6
Hi, this is a duplicate of:
https://github.com/Amonith/mattermost-file-list/issues/3

This issue will probably be tackled by the main Mattermost team as it affects all plugins when used on linux alpine (system used in the docker images of mattermost-docker).
Supposedly it can be fixed by adding `RUN apk add --no-cache libc6-compat` to your dockerfile or by compiling the plugin from source on that

[2019-09-22 16:58] Amonith commented on #5
Hi, are you using Mattermost on docker with alpine linux underneath (e.g. mattermost-docker images) by any chance?

[2019-09-22 18:43] #4 closed

[2019-09-22 18:48] Amonith commented on #4
Hi @JtheBAB, @kelderek,

Please try out the latest release and let me know if this is fixed:
https://github.com/Amonith/mattermost-file-list/releases/tag/v0.5

[2019-09-23 09:57] JtheBAB commented on #4
Hi @Amonith

Thanks for the fix. It works :)

[2019-09-23 13:19] kelderek commented on #4
Works for me as well.  Thank you!

[2019-09-26 14:41] ali-farooq0 commented on #3
@js-everts @Amonith @qykong  I'm from the Mattermost team and looking at fixing the issue above. It looks like the `mattermost-docker` image does install the `libc6-compat` lib as seen [here](https://github.com/mattermost/mattermost-docker/blob/master/app/Dockerfile#L19), so if you were to use mattermost-docker image to compile it should theoretically work. Wondering if that should address the con

[2019-09-26 16:24] ali-farooq0 commented on #3
@qykong are you using mattermost-docker file [here](https://github.com/mattermost/mattermost-docker/blob/master/app/Dockerfile)? or just using the docker compose [file](https://github.com/mattermost/mattermost-docker/blob/master/docker-compose.yml) along with an alpine build?

[2019-09-26 22:42] qykong commented on #3
Hi @ali-farooq0 , sorry that I didn't quite understand your questions. But I just followed the steps in the [readme](https://github.com/mattermost/mattermost-docker/blob/master/README.md) to set up the production environment, so I'm assuming I'm using both files?

[2019-09-27 08:41] antt73 commented on #5
I have the exact same error - using gitlab mattermost

[2019-09-27 09:18] antt73 commented on #5
Fixed - copied config.json to the plugin folder

[2019-09-30 06:25] Amonith commented on #5
Interesting, this should not be required.
I will look into it this week.

[2019-10-01 03:35] ali-farooq0 commented on #3
@qykong Ah yes. In which case it should've worked out of the box 🤔. Are you currently blocked by the issue or have it resolved in another way?

[2019-10-01 04:02] qykong commented on #3
Hi @ali-farooq0 , I was blocked by the issue but I resolved it after compiling it myself as the comment from @js-everts quoted below

[2019-10-08 13:46] ali-farooq0 commented on #3
@Amonith I'm able to reproduce the issue locally now using the latest mattermost--docker image.

What did you use to build your plugin? i.e. which container-image did you use to build your plugin here: https://github.com/Amonith/mattermost-file-list/releases/download/v0.5/mattermost-file-list-0.5.0.tar.gz

[2019-10-08 14:05] Amonith commented on #3
@ali-farooq0 none to be honest. I used raw Ubuntu 18.04 on my host machine, installed Go and nodejs and the rest of the dependencies was handled thanks to build scripts in:

https://github.com/mattermost/mattermost-plugin-starter-template

If using an alpine docker container solves it and doesn't break the plugin on non-alpine systems then I'll just adjust my workflow, but imho it should be then m

[2019-10-08 16:51] ArnY commented on #5
Same here. Gitlab packages mattermost in its omnibus packages and stores the config.json file in /var/opt/gitlab/mattermost/

I don't know where @antt73 copied his/her config.json file but copying it in the plugin folder doesn't fix the problem here.

[2019-10-08 17:48] ali-farooq0 commented on #3
@Amonith interesting, I just tried building using a ubuntu docker image and even though it's dynamically linked, I was able to successfully activate the plugin. Wondering if you can post the output of `go env` here?

[code]

[2019-10-08 17:58] Amonith commented on #3
@ali-farooq0 Sure, take a look at my (soft)wares:

[code]

[code]

Looks pretty similar to me.
The only difference is that I am not using docker and that Ubuntu 18.04 is on WSL.

[2019-10-09 13:32] PHCCorso commented on #5
@ArnY I figured it out: you must copy the `config.json` file to the `/var/opt/gitlab/mattermost/plugins/mattermost-file-list/server/dist` folder. Then it'll work.

[2019-10-09 13:38] ArnY commented on #5
Indeed! and chown it to mattermost:mattermost...

[2019-10-18 15:23] ali-farooq0 commented on #3
@Amonith I created a Win-10 VM (virtualbox) and built a binary using WSL for the plugin and was **not** able to reproduce the issue. So it feels this issue is unique to your environment. Do you mind running `ldd --version` and share the output? Want to confirm the `glibc` version running on your WSL. If the versions are not the same do you mind updating `apt-get update; apt-get install libc6` and

[2019-10-21 06:47] chetanyakan opened #7 "PROPOSAL - Ability to preview files."
In the plugin, we can list the files for any channel. It would be great if we could preview the files from the file list modal itself.

For each file, it would open the mattermost file preview/info modal depending on the file type.

This could be implemented by using the ability to fire Redux actions from the webapp part of the plugin. You could open the modal passing the required values to the ac

[2019-10-23 19:39] ali-farooq0 opened #8 "Disable "Copy Link" Action when FileSettings.EnablePublicLink=false"
Just ran into an issue where when clicking "Copy Link" Action whilst `FileSettings.EnablePublicLink=false` the plugin doesn't do anything, provides no visual feedback that it failed to copy the link.

Steps to reproduce:
1. Set `FileSettings.EnablePublicLink=false`
2. Click "Files in channel" button
3. Make sure the list contains at least one file
4. Click "Copy Link" action

Observed:
Link is not

[2019-10-23 19:47] Amonith commented on #7
Hi,
Yeah, I can create a modal preview, neat idea.
Thank you. I will implement it soon.

[2019-10-23 19:52] Amonith commented on #8
Hi,
Thank you for the report.
I've tried to experiment with those redux actions for success/error messages:
https://github.com/mattermost/mattermost-redux/blob/master/src/actions/alerts.ts

but had no luck with those yet.
I'll implement something different in the upcoming days.

[2019-10-23 19:54] Amonith commented on #5
This error will be solved in the upcoming release, but unfortunately I will have to bump the min version of MM to 5.15. The MM team introduced an API endpoint thanks to which I won't have to read config.json directly.

[2019-10-23 19:57] Amonith commented on #3
@ali-farooq0 unfortunately my output is identical.
I'm learning how to do the build entirely through Docker as we speak, so let's just assume that the issue will be solved. Upcoming releases will be built using a new pipeline.

[2019-10-23 20:05] ali-farooq0 commented on #8
@Amonith yeah doesn't look like we use that in the webapp at all. Sigh. We use https://github.com/mattermost/mattermost-webapp/blob/2dd0ffeb3a7d3ae68ea303f30394ca7eacf2ddd9/components/announcement_bar/announcement_bar.jsx#L11. Which isn't available to Plugins.

Your best bet would be to use the bootstrap Modal component.

[2019-10-23 20:06] ali-farooq0 commented on #3
😢 Alright, mind sharing the tar file built through the new pipeline, i'll test it out on the prod-mm docker container.

[2019-10-24 02:43] ali-farooq0 commented on #8
Other option could be to just disable the `Copy Link` button when public links are disabled.

[2019-10-28 19:59] Amonith commented on #3
Hi @ali-farooq0,

I cobbled up that Docker build pipeline. You can see how it works from the latest commits. Seems to do its job.

Here is the built plugin:
https://github.com/Amonith/mattermost-file-list/releases/tag/v0.5.1

I would be grateful for that check on the prod-mm container :)

[2019-10-28 23:50] ali-farooq0 commented on #3
@Amonith I just gave it a try and it worked on the prod-mm container! 👍 Does it work on your WSL ubuntu set up? If so, looks like your new pipeline is working well 🎉

[2019-10-29 08:07] Amonith commented on #3
@ali-farooq0 Awesome! Much appreciated :)
Yes, it seems to work everwhere, including my dev machine and our company's dedicated ubuntu server.
Finally I can close the ticket :)

@qykong @js-everts From now on I will release builds compatible with Alpine thanks to the new pipeline. Again thank you all for help :)

[2019-10-29 08:07] #3 closed

[2019-10-29 08:08] Amonith commented on #6
@Mracobes9 the issue has now been resolved. Please try the newest release:
https://github.com/Amonith/mattermost-file-list/releases/tag/v0.5.1

[2019-10-29 08:08] #6 closed

[2019-11-05 12:42] parapar opened #10 "Installation on official docker image fails"
When uploading the latest release tar.gz Mattermost plugin installation fails with the following error:

`"level":"error","ts":1572953682.8417873,"caller":"mlog/log.go:174","msg":"Unable to activate plugin","plugin_id":"mattermost-file-list","error":"unable to generate webapp bundle: mattermost-file-list: unable to copy webapp bundle directory: mattermost-file-list: mkdir client/plugins/mattermost

[2019-11-22 02:00] ewumnrr commented on #10
I see same, is there a solution?

[2019-11-22 09:55] qiuyuzhou opened #11 "Unable to activate plugin when mm store config in database"
[Configuration in the Mattermost Database](https://docs.mattermost.com/administration/config-in-database.html)
I deployed mm in k8s by helm, so there is a readonly `config.json` file mounted from k8s configmap.
The  readonly `config.json` file has not be used by the mm.

When activate the plugin, it has load the config file and there are some other issues cause mm try to fix config and persist the

[2019-11-23 14:05] qiuyuzhou commented on #11
After I change to use mysql instead of postgresql to store configure, the issue gone.

[2019-11-23 14:10] qiuyuzhou commented on #11
Another errors rise:

[code]

[2019-11-23 14:17] Amonith commented on #11
Hi,

I think that it'd be for the best to wait for the next release. I will target MM v.5.15+ which added a new API for reading the config. Currently I'm simply looking for "config.json" manually which isn't the best idea. I wasn't even aware that one can move that config to other places.

[2019-11-23 14:23] Amonith commented on #10
This looks weird as the logs say that the the server did not have enough permissions to move some files around.

A person from the MM team did test that release on the official docker image so I'm not sure what's wrong:
https://github.com/Amonith/mattermost-file-list/issues/3

Soon I will release an update for the plugin with some changes to the configuration reading mechanism and I will target a

[2019-11-23 18:19] ewumnrr commented on #10
What I noticed is that it is in general not possible to delete directories in my environment. I run several instances of the server in a local Kybernetes cloud and the mounted drives are shared between instances. Each directory has a . file that cannot be removed, therefore directories cannot be removed. One can only rename directories. Maybe there is an attempted move that fails?

[2019-12-28 00:39] ylluminate opened #12 "Colors off in dark theme"
Unfortunately colors are off in obvious areas:
![example](https://p153.p0.n0.cdn.getcloudapp.com/items/Kouede4E/example.png)

When using a dark theme such as this:
[code]

[2019-12-28 01:43] ylluminate opened #13 "Feature Request: Team File Listing"
Could you please extend this to also facilitate showing all files that are part of a team?

Obviously admins would see all files and non-admins would see files that they have permission to access, but this would be very helpful in finding things quickly that have been uploaded.

[2020-01-12 06:51] DrSAR opened #15 "PROPOSAL - Jump to Post"
It would be nice to be able to jump to a post that's related to a particular attachement. This could be similar in appearance to the 'Jump' link that's provided by the SEARCH RESULTS when performing a search.

[2020-01-12 12:02] Amonith commented on #15
Hi,
Good suggestion. Implemented in the latest release:
https://github.com/Amonith/mattermost-file-list/releases/tag/v0.6.0

[2020-01-12 12:02] #15 closed

[2020-01-12 12:04] Amonith commented on #11
Hi @qiuyuzhou ,
Please check out the latest release 0.6.0:
https://github.com/Amonith/mattermost-file-list/releases/tag/v0.6.0

It now uses official API for reading the config introduced in MM v5.16.

[2020-01-12 12:04] #11 closed

[2020-01-12 12:05] Amonith commented on #12
Hi,

I improved the styles in the latest release:
https://github.com/Amonith/mattermost-file-list/releases/tag/v0.6.0

Check it out. Feel free to reopen the issue if you encounter any more problems.

[2020-01-12 12:05] #12 closed

[2020-01-12 12:06] Amonith commented on #10
Hi @parapar, @ewumnrr ,
Please check out the latest release 0.6.0:
https://github.com/Amonith/mattermost-file-list/releases/tag/v0.6.0

It now uses new official API for reading the config introduced in MM v5.16 and the package was built on docker with alpine-based container. Maybe this will solve the problem. Feel free to reopen the issue if it still doesn't work.

[2020-01-12 12:06] #10 closed

[2020-01-12 12:07] Amonith commented on #5
Hi @Nugation, @ArnY, @PHCCorso , @antt73,
Please check out the latest release 0.6.0:
https://github.com/Amonith/mattermost-file-list/releases/tag/v0.6.0

It now uses new official API for reading the config introduced in MM v5.16 and that should permamently fix the issue.
Feel free to reopen the issue if it still doesn't work.

[2020-01-12 12:07] #5 closed

[2020-01-12 13:09] Amonith commented on #13
Hi,

Sure, can do.
I've started working on it on a separate branch. Based on my availability I think it should be done in a week or so, but we'll see about that.

[2020-01-14 12:02] Amonith commented on #13
I'm thinking whether I should allow searching for files of channels where the admin is not a member. I mean, by default an admin can't even see a list of private channels, let alone browser their contents.
I'll probably add an opt-in config setting for this feature because it seems weird from privacy standpoint.

Now that I think of it, Mattermost might even block downloading of files from channel

[2020-01-14 12:10] ylluminate commented on #13
Well, yeah, I think this approach of flexibility is good.  Better to give such options to admin users vs locking them down.

[2020-01-19 13:54] Amonith commented on #8
This check has been added in the latest release:
https://github.com/Amonith/mattermost-file-list/releases/tag/v0.7.0

[2020-01-19 13:54] #8 closed

[2020-01-19 13:55] Amonith commented on #13
@ylluminate
The feature is ready. Check it out in the latest release:
https://github.com/Amonith/mattermost-file-list/releases/tag/v0.7.0

[2020-01-19 13:55] #13 closed

[2020-01-21 18:53] ylluminate commented on #13
Thanks so much! I'm curious about something: I'm not seeing this in my "Plugin Marketplace" and thus I'm not seeing an update feature there either.  Apparently it is showing up as a "LOCAL" install...  Is there a way to make this via the Marketplace and thus offer an update feature vs manually updating it?

[2020-01-21 18:56] ylluminate commented on #13
Also, you have "enable" repeated on the settings :) : `For admins enable enable a list of all files in the team, even from channels where the admin is not a member`

[2020-01-21 19:02] ylluminate commented on #13
Also, I think a tab at the top could be helpful for admins: "Channel" & "Team"

Right now it appears that all team attachments are being showed within the "Channel" and thus this is confusing.  Basically it could be "Files for" <render buttons/tabs> [channel | team]

Does that make sense?

[2020-01-22 09:38] lkraav commented on #7
Ideally there would be a thumbnail preview column also in the list box. With a lot of files named "Screenshot ...", impossible to tell what's what.

[2020-01-22 16:19] Amonith commented on #13
As far as I know this is not yet possible. Mattermost team manages the marketplace manually. This will probably change in the future:

https://docs.mattermost.com/administration/plugins.html#mattermost-marketplace

Thanks, will be fixed in the next release :D

I get the second part. I don't quite like the second button above the channel list either :D Probably will move it somewhere else in the fu

[2020-01-22 18:37] Amonith commented on #7
@chetanyakan @lkraav check out the latest release:
https://github.com/Amonith/mattermost-file-list/releases/tag/v0.8.0

Implemented both thumbnails and previews for image uploads.
Unfortunately other previews (text files, pdfs etc) are not easily accessible by plugins. I will need to talk to MM team about it.

[2020-01-22 18:58] lkraav commented on #7
Nice :tada:

Feel like maybe breaking the File column out into a separate row?
![image](https://user-images.githubusercontent.com/147228/72924501-b4079180-3d59-11ea-9dc6-ea1f999c19aa.png)

Something like

[code]

Would also give more room for the thumbnail? :pray:

[2020-01-22 19:37] Amonith commented on #7
There is a UI problem with moving the file name like that. Currently the "File" column label is clickable as it toggles sorting on the column. If I move the file name I'd have to remove the column and probably rework the sorting for it to be available as a dropdown or something.

In the meantime checkout:
https://github.com/Amonith/mattermost-file-list/releases/tag/v0.8.1

I've expanded the modal

[2020-01-22 20:32] lkraav commented on #7
Yep, `<table>`-s are fun like that. I haven't really researched lately whether there are some table-enhancement scripts available for this, other than DataTables.js, which I also haven't used too much to know exactly what to do.

[2020-01-23 07:59] Amonith commented on #7
This is how I will probably do it in the next release:

![image](https://user-images.githubusercontent.com/961869/72966244-b4864380-3dbe-11ea-80ee-d644cbc29465.png)

[2020-01-29 19:22] dantepippi opened #17 "PROPOSAL: Make search by file name case insensitive"
Greetings and thanks for the plugin, it's quite usefull!

It would be nice to have the ability to search by file name without worrying with lower/upper case.

[2020-01-30 16:19] Amonith commented on #17
Can do, but it will be an opt-in feature (admin will have turn it on in plugin settings).
The name column is not indexed in MM database so this will result in performance degradation in larger organizations (like the one I'm currently in where there are thousands of files).

[2020-02-25 11:15] ltning opened #18 "Does not work on non-Linux, non-Docker platforms"
The plugin ships with precompiled binaries for specific platforms, and no build instructions for other platforms (FreeBSD). Is there anything about this code that makes it hard or impossible to run on other platforms?

[2020-02-25 11:37] Amonith commented on #18
Not really, I don't think so. It's just that the plugin template provided by Mattermost doesn't support FreeBSD and others as they are not supported platforms for Mattermost altogether:

https://docs.mattermost.com/install/requirements.html#mattermost-server-operating-system

You can try editing those lines:

https://github.com/Amonith/mattermost-file-list/blob/master/Makefile#L82

and running the

[2020-02-26 22:36] gardinermichael opened #19 "Plugin Security"
Hello,

I was hoping to install your plugin for my team but I was wondering about the security implications. I'm not too familiar with Go, otherwise I would look for myself, but I was wondering about SQL Injections and potentially open API routes.

Thank you
Michael

[2020-03-03 17:27] Amonith commented on #19
Hi,

Technically there's only a single endpoint managed by Mattermost. And on that single endpoint the first thing I do is make sure that there is a logged in user:

https://github.com/Amonith/mattermost-file-list/blob/master/server/plugin.go#L44

Mattermost handles user auth entirely, I just need to check for the existence of that server-side header (can't be spoofed by the client when making a r

[2020-03-03 17:44] gardinermichael commented on #19
Brilliant, I appreciate your response!

The plugin is great. Thank you for taking the time to develop it.

[2020-03-03 17:45] Amonith commented on #19
The pleasure is mine :)
More features are planned and will come in the future.

[2020-03-03 17:50] #19 closed

[2020-03-30 10:41] RickBioInf commented on #7
I was making a new issue for the long file names.
Would you still like it? It is harder to find for new people using this plugin.
Thanks for this awesome plugin by the way.

[2020-03-30 10:45] RickBioInf opened #21 "Removed files"
The deleted files are still findable with this plugin.

Again, great plugin.

[2020-04-17 14:44] MALEKJm opened #22 "Files on chanel"
I have this problem when trying to open files in Chanel:

"An error occurred in the File List plugin. Please notify the administrator. A detailed error message was added to the server log."

And I can't find the server log file.

[2020-04-21 12:12] dfun90 opened #23 "Localization (i18n) support"
Hey there,

I'd think this plugin would really benefit from supporting multiple display languages. Right now, from what I've seen the text itself is hardcoded.
I already noticed that there is an existing i18n folder in this repository, but doesn't seem to be used yet.

What are the current plans for adding i18n support? I'd be happy to contribute a German translation, especially since we are using

[2020-04-23 18:24] ckgrimm opened #24 "Incompatible with Zoom plugin"
Upon activating both File List and Zoom plugins, the icons for both disappear from the top bar, rendering both plugins unusable.

[2020-04-23 18:25] ckgrimm commented on #24
Solved - a browser cache problem was preventing display.

[2020-04-23 18:25] #24 closed

[2020-04-24 13:15] nopeslide opened #25 "Missing word-break inside file list columns"
When I open the modal on my server, I see something like this:
![files](https://user-images.githubusercontent.com/42803409/80213819-0ba7e880-863a-11ea-9719-c2e316336c9e.png)
This rendering issue could be mitigated by allowing word-breaks not only for the links inside the filename column but also inside other columns:
[code]
resulting in a better layout:
![files2](https://user-images.githubusercont

[2020-04-25 01:36] bbodenmiller commented on #21
Not able to replicate myself.

[2020-04-25 01:38] bbodenmiller commented on #25
@nopeslide sounds like you already know the fix... why not put in a pull request?

[2020-04-26 14:06] Amonith commented on #25
I'll gladly accept a PR :) I have a bit too much work now since COVID to do this myself and I planned to redesign the UI as per:
https://github.com/Amonith/mattermost-file-list/issues/7

[2020-04-26 14:08] Amonith commented on #21
Same, I have `IsDeleted = 0` filters in queries so it should work unless there are some cases where deleting posts does not delete files themselves or something like that.
@RickBioInf please provide more details.

[2020-04-26 14:14] Amonith commented on #22
Hi, the server log is available through the admin dashboard of MM:
![image](https://user-images.githubusercontent.com/961869/80310014-bd7d1b80-87d8-11ea-8949-c47243ce51b4.png)

Let me know what error do you see there. Are you trying to install this plugin on a fresh MM instance by any chance?
Please ensure that you have "Web Server -> Site URL" configured properly.

[2020-04-27 08:31] trainguyenx opened #28 "File list plugin & s3"
Hi,

I'm facing an issue when configuring mattermost with s3, file list cannot able to use in this case. It works fine on local storage.

File list plugin can't able to list or search file. It said: "An error occurred in the File List plugin. Please notify the administrator. A detailed error message was added to the server log."

I checked the server logs, there is no error was written down. The c

[2020-04-28 10:49] RickBioInf commented on #21
Where is this `IsDeleted` parameter? I can't find it in either the config.json or the UI for administrators.

To provide a little more details:

1.  I uploaded an image in a message;
2.  I removed the message with the image in it;
3.  I used file-list and found the image.

[2020-04-28 10:52] Tragen commented on #21
For me, the files are not listed anymore but are still on disk.

[2020-04-28 11:07] Amonith commented on #21
@RickBioInf With `IsDeleted` I meant something internal in code (I'm the author of the plugin). I filter out files which MM marks as deleted as it doesn't delete files physically. Interestingly enough I cannot reproduce your scenario. Perhaps you have other plugins / configuration that interferes with deleting files?

@Tragen That is correct. MM does not delete files in community edition. In Enter

[2020-05-14 08:47] emi80 opened #29 "Database schema warning on Mattermost 5.22.0"
Hi @Amonith

I am having an issue with the file-list plugin on Mattermost 5.22.0. The plugins installs and seems to load fin. The channel files list is shown, but when I click on a file I get a `404` error from the server. I am getting the following message in my server logs:
[code]

I guess my issue might be related to that. Could you please have a look?

Thanks a lot,
Emilio

[2020-05-14 09:03] emi80 commented on #29
I think the `404` issue probably not related. It seems an issue with the `Site URL1

[2020-05-14 09:52] emi80 commented on #29
Just for your information, the problem is that my Site URL is hosted on a subpath `/mm` and the fetched URL of files and thumbnails does not contain the subpath but only the base URI.

Let me know if you want me to open an other issue for this.

Best

[2020-05-14 15:18] emi80 opened #30 "Wrong URLs returned if Mattermost instance is hosted at a subpath"
Hi,

we are hosting out Mattermost instance at a subpath and installed the `file-list` plugin `version 0.8.1`. The plugin always returns URLs without the subpath for files, thumbnails and file post locations.

[2020-05-17 08:12] nawre opened #32 "SiteURL needs to be filled, not empty!"
On 5.23.0, the SiteURL setting in your mattermost config json file cannot be let empty to get the add-on working. It has to be something, at least "http://localhost:8065" for example.

[2020-05-30 18:37] YuKitAs opened #33 "Space between team name and channels in the sidebar"
After disabling the file list for admins, there will be a 10px margin left at the top of the sidebar (see screenshot).
![mattermost](https://user-images.githubusercontent.com/9809206/83336583-ff582080-a2b4-11ea-8891-f47e0fb98857.png)

[2020-06-05 19:16] Amonith commented on #33
Thanks, fixed in release 0.9.0:
https://github.com/Amonith/mattermost-file-list/releases/tag/v0.9.0

[2020-06-05 19:16] #33 closed

[2020-06-05 19:17] Amonith commented on #32
Correct, added a dedicated error message for this in the latest release:
https://github.com/Amonith/mattermost-file-list/releases/tag/v0.9.0

[2020-06-05 19:17] #32 closed

[2020-06-05 19:18] Amonith commented on #30
Hey, thanks. I merged your PR, looks good enough for me :)

Included in the latest release:
https://github.com/Amonith/mattermost-file-list/releases/tag/v0.9.0

[2020-06-05 19:18] #30 closed

[2020-06-05 19:18] Amonith commented on #25
Hey,
PR merged. Included in latest release:
https://github.com/Amonith/mattermost-file-list/releases/tag/v0.9.0

[2020-06-05 19:18] #25 closed

[2020-06-05 19:19] Amonith commented on #29
Hi,
Closing the issue as we solved this in other tickets.

[2020-06-05 19:19] #29 closed

[2020-06-05 19:22] Amonith commented on #21
Closing the issue for now as no bug was found and the issue can't be replicated.

[2020-06-05 19:22] #21 closed

[2020-06-05 19:26] Amonith commented on #28
Since S3 has a free tier I'll try to replicate this on my dev environment. At the moment no idea what can be the issue. I'm querying only basic MM database tables (FileInfo + Posts, Channels and ChannelMembers), not the disk directly, so in theory everything should work regardless of the underlying file storage.

[2020-06-05 19:27] Amonith commented on #17
Actually it was case-insensitive from the beginning 😅
Anyway, added an additional option for this in the latest release:
https://github.com/Amonith/mattermost-file-list/releases/tag/v0.9.0

[2020-06-05 19:27] #17 closed

[2020-06-05 19:29] Amonith commented on #23
When I created the plugin MM didn't have i18n support ready/documented for the plugins.
It now seems to have this so I'll look into this issue soon.

[2020-06-24 14:00] chrisschu opened #34 "Plugin failed to ServeHTTP"
Hi,

When I press the File-List-button I get this message:

![image](https://user-images.githubusercontent.com/14973009/85569918-3ced6680-b633-11ea-8c5d-7f14d90a4e71.png)

The output of the server logs:
`
{"level":"error","ts":1593006612.0640645,"caller":"plugin/client_rpc_generated.go:67","msg":"RPC call OnConfigurationChange to plugin failed.","plugin_id":"mattermost-file-list","error":"connecti

[2020-06-26 09:33] chrisschu commented on #34
latest gitlab update solved this issue

[2020-06-26 09:33] #34 closed

[2020-07-08 08:27] NexusEFR opened #35 "error upload plugin"
Hello, fantastic project for mattermost, but I have a problem, my platform is mattermost via Qnap NAS server and I understand that installed under Qnap QTS system on your embedded Linux. All plugins can be installed via console without problem or through their market place but your plugin gives the following error. I'm not a programmer, just a system user, could anything be done to make the instal

[2020-07-10 15:12] Amonith commented on #35
Hi, thanks for the kind words :)
I saw this kind of error one time when Mattermost process did not have permissions to extract the plugin archive to the plugins directory. For me it happened because during upgrading MM and moving folders I broke ownership settings for those folders.

You may want to check that, not sure how to help further. It's interesting that only my plugin doesn't work though.

[2020-07-16 11:45] sagarnaik12 opened #36 "List File does not work for Direct Channel"
I was trying the plugin and found that the file list does not work for a Direct Channel ? Wanted to confirm if its a issue or this is how it functions.

[2020-07-16 12:17] Amonith commented on #36
Hi,

Not a known issue. Works in our company right now.
What MM version are you using?
Can you provide some more details like log messages from administration section of MM or frontend errors from the browser console?

[2020-09-05 09:08] bbodenmiller opened #39 "can delete files I shouldn't be able to delete"
It appears I'm able to delete other peoples files. That doesn't sound like expected behavior.

[2020-09-05 09:27] Amonith commented on #39
That depends. Are you a system or channel admin? Because if you can edit other people's messages you will also be able to do this through the plugin.

[2020-09-05 09:34] bbodenmiller commented on #35
Someone else found file size can be an issue: https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/issues/101#issuecomment-643446448

[2020-09-05 09:41] mksondej commented on #35
Great find @bbodenmiller!
I added info about this to the troubleshooting section in the README and I'll close this issue for now.

[2020-09-05 09:41] #35 closed

[2020-09-05 22:06] bbodenmiller commented on #39
In this case I was running as team admin but my settings are set to not allow team admins to edit or delete others posts...

[2020-10-01 12:48] onno-ole opened #41 "Case sensitive search even though case insensitive option is enabled."
Hey just stumbled across this plugin and started testing around with it.

What strikes me as odd is that when i search for a file it is case sensitive, even though I've read that it should be case insensitive from the get go and I even tried enabling the case insensitive option and i don't get a checkbox for it.

See here:

![image](https://user-images.githubusercontent.com/63211842/94810908-f7d88

[2020-10-18 09:43] psi59 opened #42 "Jump not working in mattermost's Mac app"
It works fine on the web, but not on the desktop app (mac).

Mattermost Version: 5.27.0

[2020-10-19 06:48] psi59 commented on #42
Sorry, It was a my server setting problem.

[2020-10-19 06:48] #42 closed, assigned to nobody

[2021-02-11 17:06] phmcc opened #44 "Integration with Mattermost Cloud"
Hi,

I came across this plugin and it looks incredibly useful.  It seems like it's still considered a "custom plugin" and therefore can only be added via tarball on self-hosted instances of Mattermost.  Is there any plan to get it added to the Plugin Marketplace so it can be added to Mattermost Cloud instances?

Again, this looks fantastic.  Thanks for your help!

[2021-02-18 08:50] bbodenmiller opened #45 "Delete file option presented even when don't have permissions to delete file"
I was a team admin so could delete files. Now I removed myself as team admin but still have option to delete files via plugin. I tried refreshing as well as logout and log back in. Is there some sort of file list caching going on? When I try to use it I get this error message:

![image](https://user-images.githubusercontent.com/1192780/108330530-8d956f00-7182-11eb-9ee3-56f499399bb4.png)

![image](

[2021-02-18 08:50] #39 closed

[2021-02-18 09:07] bbodenmiller commented on #45
Also, as system admin I am not being shown delete option on each file... despite having permissions to delete each of them.

[2021-02-18 09:15] bbodenmiller opened #46 "admin show all files option not working"
Running as system admin

Appears it's not working anymore as it's missing from menu as shown in README.md preview. Also verified files from other channels (I'm not part of as system admin) are not showing under All files option.

![image](https://user-images.githubusercontent.com/1192780/108334342-aef85a00-7186-11eb-917c-4944890499a8.png)

Additional would be nice if setting text clarified if this

[2021-09-09 22:06] tateeskew opened #54 "Plugin repeatedly crashes and won't start"
Mattermost version: 5.38.1
Postgres DB
S3 file storage

Errors received when trying to start the plugin:
ep 09 22:00:06 ip-20-10-2-4 mattermost[23269]: {"level":"info","ts":1631224806.668883,"caller":"go-plugin@v1.4.2/stream.go:15","msg":"{\"level\":\"info\",\"msg\":\"Pinging SQL\",\"fields\":[{\"Key\":\"database\",\"Type\":15,\"Integer\":0,\"String\":\"master\",\"Interface\":null}]}","plugin_id":

[2021-10-12 20:11] asmodeius opened #56 "plugin provides wrong links to files"
plugin tries to add port number to the link which in my case is not a valid link, which results in failing to show the files i.e when using download link it provides link:
https://website:8065/api/v4/files/xxx
which is not valid as only valid access is through
https://website/api/v4/files/xxx

[2021-10-12 22:14] asmodeius commented on #56
nvm I had wrong url set in the settings and this was causing the issue

[2021-10-12 22:14] #56 closed, assigned to nobody

[2021-10-13 07:27] Roy-Orbison commented on #54
I'm seeing the same on MM v6.0 with local storage.
[code]

[2021-10-18 10:16] yamazakei321 commented on #54
Same bug in MM v6.0

[2021-10-22 07:11] bbodenmiller commented on #54
Same here

[2021-10-22 13:18] tateeskew commented on #54
I've actually just gone to using the built in file management and search tools in the recent versions of Mattermost. They work great. Not sure if this is going to get fixed or not.

[2021-10-22 13:59] mksondej commented on #54
Honestly, I'm thinking about archiving the project.
I'm leaving the current company which did use MM and I don't think I'll have an opportunity to work with it soon again.
This plugin was created when they didn't have a built-in file list yet. It doesn't have too much sense now. I think they recreated all of the features, maybe except the admin list.

[2021-10-22 15:09] Roy-Orbison commented on #54
@Amonith Thanks for your work. It definitely filled a hole.

[2022-08-01 14:29] wiersgallak opened #64 "Plugin Channel Header Component Changes"
Mattermost recently made an update to the Plugin component location changing from the channel header to the new [App Bar](https://mattermost.com/blog/mattermost-v7-0-is-now-available/#apps).

If your plugin registers an icon in the channel header, you will need to make some minor changes to your plugin to smoothly transition to this new UI. We’ve made it simple to register both a channel header ic